{% load cloudinary %}

{% for post in posts  %}
<div class="blog-post">
  <h3>{{post.title}} <small>{{post.created_at}}</small></h3>
  <a href={{post.get_absolute_url}}>
    <img class="thumbnail" src="{% cloudinary_url post.image width=800 %}">
  </a>
  <p>{{post.subtitle}}</p>
  <a href="{{post.get_absolute_url}}" class="button hollow">got to post</a>
</div>
{% endfor %}
