{% load cloudinary %}

<div class="row column">
  <p class="lead">RECENT POSTS</p>
  {% for post in posts %}
    <div class="media-object">
      <div class="media-object-section">
        <a href="{{post.get_absolute_url}}">
          <img class="thumbnail" src="{% cloudinary_url post.image width=150 height=75  crop="fill" %}">
        </a>
      </div>
      <div class="media-object-section">
        <h5>All I need is a space suit and I'm ready to go.</h5>
      </div>
    </div>
  {% endfor %}
  
</div>