{% extends "base.html" %}
{% load cloudinary %}

{% block seo %}
  {% include "common/includes/object_seo_tags.html" %}
{% endblock seo %}

{% block main %}
  <div class="row">
    <div id="content">
      <div class="columns medium-8 medium-centered">
        <div class="blog-post">
          <h3>
            {{object}} <small>{{object}}</small>
          </h3>
          <a href={{post.get_absolute_url}}>
            <img class="thumbnail" src="{% cloudinary_url object.image width=800 %}">
          </a>
          <p>{{post.subtitle}}</p>
          <a href="{{object.get_absolute_url}}" class="button hollow">got to post</a>
        </div>
      </div>
    </div>
  </div>
{% endblock main %}